{% if form %}
  <form action='' method=''>
    <div class="form-group">
      <label for=''></label>
      <input name='' id='' type='text' class='form-control'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
{% endif %}
