{% if navbar %}
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://joekarasek.github.io">Address Book by Joe</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">Contacts</a></li>
          <li><a href="/add_contact">Add Contact</a></li>
          <li><a href="/delete_contact">Delete Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/delete_all_contacts">Delete All Contacts</a></li>
        </ul>
      </div>
    </nav>
{% endif %}
